.section-relogio {
  position: relative;
}

.rhid .rhidImage img {
  width: 100%;
  border-radius: 10px;
}

.btn button {
  background-color: cornflowerblue;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.btn button a {
  color: var(--color-white-text);
  font-size: 12pt;
  display: flex;
}

.info {
  background-image: url(/src/assets/background.png);
  padding: 3rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: center;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #010d18;
}

.info div {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 40%;
  height: 100%;
}

.info div p {
  text-align: justify;
}

.info img {
  width: 100%;
}

.time-clock-section {
  background-image: url(/src/assets/background.png);
  position: sticky;
  border-top: 0.5px solid rgba(126, 123, 123, 0.301);
  height: 100vh;
  z-index: 2;
  top: 0;
  background-color: #010d18;
  padding: 3rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: center;
}

.time-clock-section div {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 40%;
  height: 100%;
}

.time-clock-section div p {
  text-align: justify;
}

.time-clock-image img {
  width: 100%;
}

.rhid {
  background-image: url(/src/assets/background.png);
  padding: 3rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  position: sticky;
  border-top: 0.5px solid rgba(126, 123, 123, 0.301);
  z-index: 3;
  background-color: #010d18;
  top: 0;
  gap: 1rem;
}

.rhid div {
  display: flex;
  flex-direction: column;

  text-align: start;
}

.rhid div p {
  text-align: justify;
}

.rhid .rhidImage {
  width: 100%;
  height: 100%;
}

.rhid div {
  width: 40%;
  height: 100%;
}

svg {
  inset: 0;
  margin: auto;
  aspect-ratio: 1.67;

  object-fit: cover;
  --tw-text-opacity: 1;
  color: rgb(217 225 228 / var(--tw-text-opacity, 1));
}

svg rect {
  fill: none;
}

.services {
  position: relative;
  padding: 5rem 0rem 5rem 0rem;
}

.containerServices {
  height: auto;
  text-align: center;
  color: var(--color-white-text);
}

.svg-container {
  margin-top: 100px; /* Distância para que o SVG não comece no topo da tela */
  height: auto;
  width: 100%;
  overflow: hidden;
}

.svg-container img {
  width: 100%;
}

.svg-container svg text {
  align-items: center;
  background: linear-gradient(
    180deg,
    #09090a 0%,
    var(--token-2410a455-69e7-4149-9668-bbeb659e1a1e, rgb(19, 21, 22)) 100%
  );
  border-radius: 80px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 6px;
  position: relative;
  width: min-content;
  will-change: var(--framer-will-change-override, transform);
}

.path {
  fill: none;
  stroke: gray;
  stroke-width: 2;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  transition: stroke-dashoffset 3s ease-in-out, stroke 1s ease-in-out;
}

.label {
  font-size: 20px;
  fill: white;
  font-family: Arial, sans-serif;
}

.dot {
  fill: white;
}

.itMaintenance {
  position: relative;
  overflow: hidden;
}

.itMaintenance #contentPersonalComputer {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itMaintenance #contentPersonalComputer img {
  width: 50%;
}

.itMaintenance span {
  color: cornflowerblue;
  font-size: 35pt;
  display: block;
}

#budget {
  color: white;
  font-size: 12pt;
  background-color: #0f3861;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.networkImg {
  width: 50%;
}

#contentNetwork {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contentNetwork .networkImg {
  width: 100%;
}

.produtosId img {
  width: 100%;
}

@media (max-width: 724px) {
  .info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
