.contact {
  position: relative;
}

.contentContact {
  display: flex;
  gap: 5rem; /* Espaço entre os elementos */
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.contentContact span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerContact .contentContact .ct {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.containerContact {
  padding: 5rem 0rem 5rem 0rem;
}

.containerContact span {
  color: #ffffff;
  font-size: 35pt;
  text-align: start;
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 270px;
  padding: 2rem 2rem 2rem 2rem;
  color: white;
  font-size: 12pt;
  overflow: hidden;
  position: relative;
  background-color: #112f5d;
  border-radius: 5px;
}

.contact-section h3 {
  font-size: 17pt;
}

.contact-section p {
  font-size: 10pt;
}

.containerContact h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.maps {
  width: 100%;
}

.form {
  width: 100%;
  height: 450px;
  padding: 0rem 1rem 0rem 1rem;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #112f5d;
  padding: 2rem;
  border-radius: 6px;
}

.form input {
  width: 100%;
  height: 50px;
  background-color: #24242454;
  border-bottom: 1px solid black;
}

input[type="submit"] {
  cursor: pointer;
  font-size: 12pt;
  color: #afafaf;
  border: none;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
  background-color: #24242454;
  color: #afafaf;
  border-bottom: 1px solid black;
}

.groupInputMessage {
  flex-grow: 1;
  width: 100%;
}

.groupInput {
  position: relative;
}

.groupInput input:valid ~ label,
.groupInput input:focus ~ label,
.groupInput textarea:valid ~ label,
.groupInput textarea:focus ~ label {
  top: -20px;
  color: cornflowerblue;
  font-size: 10pt;
}

label {
  position: absolute;
  top: 12px;
  left: 5px;
  color: #afafaf;
}

@media (max-width: 999px) {
  .maps {
    display: none;
  }

  .containerContact {
    display: flex;
    flex-direction: column;
  }
  .containerContact .contentContact .ct {
    flex-direction: column;
  }
  .contact-info {
    display: none;
  }
}
