.contact {
  position: relative;
}

.contentContact {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.containerContact h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.maps {
  width: 100%;
}

.form {
  width: 40%;
}

.form {
  height: 450px;
  padding: 0rem 1rem 0rem 1rem;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  width: 100%;
  height: 50px;
}

input[type="submit"] {
  cursor: pointer;
  font-size: 12pt;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.groupInputMessage {
  flex-grow: 1;
  width: 100%;
}

.groupInput {
  position: relative;
}

.groupInput input:valid ~ label,
.groupInput input:focus ~ label,
.groupInput textarea:valid ~ label,
.groupInput textarea:focus ~ label {
  top: -20px;
  color: cornflowerblue;
  font-size: 10pt;
}

label {
  position: absolute;
  top: 12px;
  left: 5px;
  color: #273746ab;
}
