.hero {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh; /* ou a altura desejada */
  overflow: hidden; /* impede que as partículas vazem */
}

.hero h1 {
  font-size: max(40pt, 20px);
}

.typed-text {
  color: blue;
}
