.comments {
  padding: 5rem 0rem 5rem 0rem;
  overflow: hidden;
  position: relative;
}

.comments h2 {
  text-align: center;
  padding: 0rem 0rem 5rem 0rem;
  color: var(--color-white-text);
}

.wrapper::before,
.wrapper::after {
  position: absolute;
  bottom: 80px;
  width: 250px;
  height: 350px;
  content: "";
  z-index: 2;
}

.wrapper::before {
  left: 0;
  bottom: 80px;
  background: url(/Prime/src/assets/background.png),
    linear-gradient(to left, rgba(255, 255, 255, 0), #010d18);
  background-blend-mode: normal; /* ajuste conforme necessário */
}

.wrapper::after {
  right: 0;
  background: url(/Prime/src/assets/background.png),
    linear-gradient(to right, rgba(255, 255, 255, 0), #010d18);
  background-blend-mode: normal; /* ajuste conforme necessário */
}

.wrapper .commentTrackDown {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: max-content;
  animation: 55s slide infinite linear;
}

.wrapper:hover .commentTrackDown {
  animation-play-state: paused;
}

.wrapper .comment {
  color: var(--color-white-text);
  text-align: center;
  width: 350px;
  height: 350px;
  background-color: #112f5d;
  border-radius: 5px;
}

.wrapper .comment .commentHeader {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wrapper .comment {
  position: relative;
}

.wrapper .comment #spanLogoGoogle {
  position: absolute;
  top: 10px;
  right: 20px;
}

#logoGoogle {
  width: 25px;
}
.user {
  width: 70px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
