@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", serif;
  border: none;
  transition: all 0.5s ease-in-out;
}

body,
html {
  width: 100%;
}

:root {
  --color-white-text: white;
  --color-black-text: black;
  --color-blue-lite: cornflowerblue;
  --color-black-blue: #22242f;

  --color-red: red;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: var(--color-white-text);
  font-size: 25pt;
}
.vertical-text {
  writing-mode: vertical-rl; /* Texto na vertical (direita para esquerda) */
  text-orientation: mixed;
  transform: rotate(180deg); /* Inverte a direção para ficar mais legível */
  white-space: nowrap; /* Evita quebra de linha */
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  right: 100%;

  /* Gradiente de cor azul escuro para azul claro */
  background: linear-gradient(
    to left,
    rgb(255 255 255 / 40%),
    rgb(255 255 255),
    rgba(0, 0, 0, 0)
  );
  -webkit-background-clip: text; /* Aplica o gradiente ao texto */
  -webkit-text-fill-color: transparent; /* Faz o texto herdar o gradiente */
}

#red {
  color: var(--color-red);
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4fc3f7 #010d18;
}
